#aboutme {
    color: chocolate;
}
.info{color: blueviolet;
}
#one {
    color: purple;
}
#two {
    color: brown;
}
#three {
    color: yellow;
}
#four {
    background-color: blue;
}
#five {
    background-color: green;
}
#six {
    background-color: red;
}
#seven {color: aqua;}
#eight {
    color: darkcyan;
}
#nine {
    color: darkseagreen;
}
#ten {
    color: black;
}
#eleven {
    color: fuchsia;
}
#twelve {
    color: white;
}